.main{
  align-items: center;
  justify-content: center;
  padding-top: 20vh;
}

.bg_video{
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -1000;
background: url(/background-img.jpg) no-repeat;
background-size: cover;
}
 
 
.title-box{
  
 
  .title{
    color: white;
    text-shadow: 2px 0px 2px #000000;
  }
 
  .subtitle{
    color: white;
    text-shadow: 3px 0px 3px #000000;
    font-size: 30px;
  
  }
}
 
 
.exchange_box{
  margin: 10px auto;
  .logo-box{
    margin: 0 auto;
    padding-bottom: 10px;
  }
}